body {
  background-color: hsl(185, 75%, 39%);
}

.pattern-top {
  position: absolute;
  bottom: 39%;
  right: 51%;
  z-index: -1;
}

.pattern-bottom {
  position: absolute;
  top: 42%;
  left: 46%;
  z-index: -1;
}

.pattern {
  border-radius: 15px 15px 0 0;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  height: 375px;
  background-color: white;
  border-radius: 15px;
  margin: 170px auto;
}

.photo {
  width: 96px;
  height: 96px;
  margin: -48px auto 0 auto;
  border-radius: 50%;
  border: 5px solid white;

}

.info {
  display: flex;
  flex-direction: column;
  margin: 15px auto 15px auto;
  align-items: center;
  line-height: 0.2em;
}

.info span {
  font-weight: 400;
  font-size: 18px;
  color: hsl(227, 10%, 46%);
}

h1 {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}


h2 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: hsl(227, 10%, 46%);
}

p {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 10.5px;
  color: hsl(227, 10%, 46%);
  letter-spacing: 0.1em;
}

.stats {
  display: flex;
  justify-content: space-around;
  line-height: 1em;
  border-top: 1px solid hsl(227, 10%, 90%);
}

.stats-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.1em;
  margin-top: 25px;
}

.attribution {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.attribution h1 {
  font-size: 14px;
}

@media(max-width: 414px) {

  .pattern-top {
    bottom: 40%;
    right: 47%;
  }
  .pattern-bottom {
    top: 46%;
    left: 36%;
    position: fixed;
    overflow: hidden;
  }

  .card {
    width: 330px;
    height: 372px;
    margin: 40% auto;
  }

  .attribution {
    margin-top: -50px;
    visibility: hidden;
  }
}